.calculadora{
	position: absolute;
	top: 55%;
	width: 50%;
	height: 50%;
	left: 25%;
	right: 25%;
}
.botao{
	margin-left: 2%;
	margin-right: 2%;
	border-color: black;
}
.hid{
	display: none;

}
.btnSpace {
	margin: 1px 5px 1px 5px;
}

.rows{
	margin-left: 4px;
	margin-right: 2px;
}