.calculadora{
	position: absolute;
	top: 50%;
	width: 50%;
	height: 50%;
	left: 25%;
	right: 25%;
}
.botao{
	align-content: center;
	margin: 1px 20px 1px 5px;
	border-color: black;
}
.botao_parc{
	margin-top: 2%;
	margin-bottom: 2%;
	border-color: black;
}
.hid{
	display: none;

}
.btnSpace {
	margin: 1px 5px 1px 5px;
}

.rows{
	margin-left: 4px;
	margin-right: 2px;
}
.table-overflow {
    max-height:200px;
    overflow-y:auto;
}
.teste {
	margin-top: 30px;
}